.blogs-page {
    width: 80%;
    max-width: var(--contentWidth);
    margin: 80px auto;
}

.blogs-content {
    width: 100%;
    margin: 80px auto;

    display: flex;
    flex-direction: column;
    gap: 50px;
}

.blogs-headtitle {
    color: white;
}

.blogs-title {
    width: 100%;
}

.blogs-divider {
    width: 100%;
    height: 10px;
    background-color: white;
}

.newest-post, .blog-post {
    height: auto;

    background-color: black;
    color: white;

    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: start;
    gap: 20px;
    padding-bottom: 20px
}

.newest-post a {
    width: 100%;
}

.newest-post img, .blog-post img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.newest-post-title {
    width: 95%;
}

.new-blog-text, .blog-text {
    align-self: flex-start;
    width: 95%;

    margin-left: 5%;

    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.new-blog-text {
    font-size: 18px;
}

.blog-text {
    font-size: 18px;
    padding-right: 10px;
}

.new-blog-text p {
    max-width: 500px;
}

.new-blog-text img {
    height: 100px;
    width: 100px;
    margin-right: 40px;
}

.blog-posts {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    gap: 62px 40px;
}

.see-more-button {
    color: white;

    width: 200px;
    height: 70px;
    border-radius: 5px;
    background-color: black;
}

.back-up {
    background-color: black;
    width: 100px;
    height: 70px;

    border-radius: 4px ;
}

.more-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.up-arrow {
    rotate: -90deg;
    width: 50px;
    height: 50px;
}
