header {
    width: 100%;
    height: auto;
    position: sticky;
    top: 0;
    z-index: 5;
}

.header-content {
    width: 100%;
    height: 130px;
    background-color: var(--yellow);
    color: black;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    gap: 20px;

    z-index: 1;
    transition: 0.2s;

}

.index-link {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.brewery-logo {
    width: 100%;
    height: 80%;

    /* max-width: 200px  */
}

.nav-list {
    display: flex;
    list-style: none;
    gap: 50px;

}

.nav-item {
    font-weight: 600;
    font-size: 1.5rem;
}

.hamburger-list {

    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    font-size: 1.5rem;
    background-color: black;
    color: white;
    padding: 0 50px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: end;


    gap: 20px;
    z-index: 1;

    transition: max-height 0.3s ease-out;
    max-height: 0; 
    overflow: hidden;
}

.hamburger-button {
    display: none;

    width: 50px;
    min-width: 50px;
    height: 50px;

    background-size: cover;
    background-image: url(/media/icons/hamburger.png);
    background-repeat: no-repeat;
}