header {
    width: 100%;
    height: 130px;
    background-color: var(--yellow);
    color: black;

    position: sticky;
    top: 0;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;

    transition: 0.2s;
    z-index: 1;

}

.index-link {
    height: 90%;
}

.brewery-logo {
    height: 100%;
    width: auto;
}

.nav-list {
    display: flex;
    list-style: none;
    gap: 50px;

}

.nav-item {
    font-weight: 600;
    font-size: 1.5rem;
}