.index-hero {
    height: 600px;
    width: 100%;
    color: white;

    display: flex;
    align-items: center;
}

.hero-image {
    max-width: 1300px;
    width: 60%;
    height: 100%;

    object-fit: cover;
}

.hero-content {

    display: flex;
    flex-direction: column;
    align-items: start;

    max-width: 450px;

    gap: 10px;

    margin: 0 auto;
    padding: 0 40px;
}

.hero-text {
    font-family: var(--text);
    font-size: 20px;
}

.divider-hero {
    width: 100%;
}

.index-divider {
    background-color: black;
    width: 100%;
    height: 50px;
}

.index-blogs {
    height: 600px;
    width: 80%;

    margin: 0 auto;
    gap: 20px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.carousell a {
    height: 100%;
}

.carousell {
    width: 80%;
    max-width: 1260px;
    height: 400px;

    display: flex;
    align-items: center;
    justify-content: start;
    gap: 20px;
    
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow: hidden;
}

.index-blogs button {
    height: 400px;
    width: 50px;

    background-color: black;
}

.index-blogs button img {
    width: 90%;
}

.prev {
    transform: rotate(180deg);
}

.carousell-item {
    min-width: 300px;
    height: 100%;
    
    color: white;
    background-color: black;

    display: flex;
    flex-direction: column;
    align-items: end;
}

.carousell-item img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.carousell-item a {
    width: 100%;
}

.carousell-title {
    width: 95%;

    display: flex;
    flex-direction: column;
}

.carousell-title-text {
    min-height: 62px;
    margin-top: 5px;
    display: flex;
    align-items: end;
}

.card-divider {
    width: 100%;
    height: 10px;
    background-color: white;
}


.carousell-text {
    width: 95%;
    margin-top: 20px;
}

.carousell-text p {
    width: 80%;
}


.how-to-beer {
    width: 100%;
    height: 400px;

    background-color: black;
    color: white;
}

.ingredients-content {
    width: 80%;
    height: 400px;

    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.ingredients {
    display: flex;
    gap: 50px;
}

.ingredients img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.ingredient {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
