/* Font imports */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik+Mono+One&display=swap');

/* Styles import */
@import url(/css/header.css);
@import url(/css/index.css);
@import url(/css/footer.css);
@import url(/css/blogs.css);
@import url(/css/about.css);
@import url(/css/contact.css);
@import url(/css/blogpost.css);

@import url(/css/mediaquery/mq_header.css);
@import url(/css/mediaquery/mq_footer.css);
@import url(/css/mediaquery/mq_index.css);
@import url(/css/mediaquery/mq_blogs.css);
@import url(/css/mediaquery/mq_blogpost.css);
@import url(/css/mediaquery/mq_about.css);
@import url(/css/mediaquery/mq_contact.css);


/* Root styles */

:root {
    
    /* Colors */
    --yellow: #F3BD54;

    /* Fonts */
    --titles: 'Rubik Mono One', sans-serif;
    --text: 'Raleway', sans-serif;

    /* Sizes */
    --contentWidth: 1000px;
}

/* Global styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway';
    letter-spacing: 1px;

    transition: 0.2s;
}

body {
    background-color:#1C1710;
}


a:visited, a:link {
    color: inherit;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

button {
    border: none;
    background-color: transparent;
    cursor: pointer;

}

.loader {
    margin: 0 auto;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    animation: rotate 1s linear infinite
  }
.loader::before {
content: "";
box-sizing: border-box;
position: absolute;
inset: 0px;
border-radius: 50%;
border: 8px solid #FFF;
animation: prixClipFix 2s linear infinite ;
}

@keyframes rotate {
100%   {transform: rotate(360deg)}
}

@keyframes prixClipFix {
    0%   {clip-path:polygon(50% 50%,0 0,0 0,0 0,0 0,0 0)}
    25%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0)}
    50%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
    75%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 100%)}
    100% {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 0)}
}

.show {
    max-height: 500px;
    padding: 50px;
}

.hide {
    display: none;
}

.title-spacing {
    letter-spacing: 0.4em;
}

.divider {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.hero-divider {
    max-width: 450px;
}

.divider-line {
    height: 2px;
    background-color: white;
    width: 100%;
}

.divider-icon {
    width: 40px;
}

.space {
    margin-top: 25px;
}

.underline {
    text-decoration: underline;
}


.big-title {
    font-family: var(--titles);
    font-size: 40px;
}

.medium-title {
    font-family: var(--titles);
    font-size: 30px;
}

.small-title {
    font-family: var(--titles);
    font-size: 25px;
}

.xsmall-title {
    font-family: var(--titles);
    font-size: 20px;
}

.light-text {
    font-weight: 300;
}

.small-lp {
    line-height: 140%;
}

.superlight-text {
    font-weight: 200;
}

/* Font sizes */

.big-font
{
    font-size: 30px;
}

.medium-font
{
    font-size: 20px;
}

.small-font
{
    font-size: 15px;
}


