@media (max-width: 1191px) {

    .blogs-content {
        gap: 40px 20px;
    }
    .blog-post {
        max-width: 100%
    }
}

@media (max-width: 600px) {

    .blogs-content {
        margin: 20px auto;
        transition: 0.2s;
    }

    .blogs-page p {

        font-size: 4vw;
    }

    .blogs-page h2 {
        font-size: 7vw;
    }

    .new-blog-text img {
        width: 80px;
        height: 80px;
    }

    .back-up {
        width: 70px;
    }

    .see-more-button {
        width: 150px;
    }
}