@media (max-width: 1000px) {


    .header-nav{
        display: none;
    }

    .hamburger-button {
        display: block;
    }
}

@media (max-width: 600px) {

    .header-content {
        padding: 0 20px;
    }

    .index-link {
        height: auto;
        max-width: 200px;
    }
}