@media (max-width: 1200px) {
    
    .index-hero {
        flex-direction: column;
        justify-content: center;

        height: auto;



        gap: 20px;
        margin-bottom: 20px;
    }

    .hero-image {
        width: 100%;
        height: 300px;
    }

    .hero-content {
        padding: 0;
        width: 80%;

    }


    .how-to-beer {
        height: auto;
    }

    .ingredients {
        flex-wrap: wrap;
        justify-content: end;

        width: 400px;
    }


}

@media (max-width: 719px) {
    .ingredients {
        width: 620px;
    }
}

@media (max-width: 610px) {

    .ingredients {
        gap: 20px;
    }

    .ingredients img {
        width: 50px;
        height: 50px;
    }

    .ingredients-content h2 {
        font-size: 6vw;
    }
}

@media (max-width: 600px) {

    .hero-content h1 {
        font-size: 8vw;
    }

    .hero-content p {
        font-size: 3.5vw;
        max-width: 80%;
    }

    .hero-image {
        height: 200px;
    }
}

@media (max-width: 550px) {

    .blogs-section {
        width: 100%;
        display: block;
    }
    .carousell {

        width: 100%;

        overflow-x: scroll;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: none;
        scrollbar-width: none;
        
    }

    .blogs-carousell {
        width: 100%;
    }

    .index-blogs button {
        display: none;
    }
}

@media (max-width: 500px) {
    .ingredients-content h2 {
        display: none;
    }

    .ingredients {
        justify-content: center;
        
        margin: 0 auto; 
    }
}